TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: hello
  title: Divyeshzb/hello
  owner: Divyeshzb
  default_branch: master
  id: 547194125
TF_Branch: master
TF_Git_path: apps/events/base
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-10T05:48:06.037Z
