app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: apps/app-proxy/overlays/codefreshhello/ingress.yaml
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: hello
  title: Divyeshzb/hello
  owner: Divyeshzb
  default_branch: master
  id: 547194125
TF_Branch: master
TF_Git_path: s3
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-10T10:49:51.921Z
