build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: path
  content: apps/app-proxy/overlays/codefreshhello/config.json
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: apps/app-proxy/base/kustomization.yaml
app_test:
  - name: ''
    configType: artillery
    configPath: Divyeshzb/hello/
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-10T07:16:50.873Z
