CDK_Content: |-
  #!/bin/sh

  cdk deploy
CDK_Repo:
  key: hello
  title: Divyeshzb/hello
  owner: Divyeshzb
  default_branch: master
  id: 547194125
CDK_Branch: master
CDK_Git_path: bootstrap/argo-cd
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-10T08:21:33.576Z
