build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: path
  content: apps/app-proxy/overlays/codefreshhello/config.json
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-10T07:15:35.087Z
